#Ignora los target
/target
/user_interface/target

# Ignora todos los logs.
*.txt

# Ignora todos los archivos con data.
data/*.bin

# Ignora todos los archivos de prueba.
tests_txt/*.bin
tests_txt/*.txt
